.execTableRows {
    font-size: 13px;
    text-align: left;
}

.execTableWrapper.collapsible {
    overflow: auto;
    max-height: 643px;
}

@media screen and (max-height: 1020px) {
    .execTableWrapper {
        height: 500px;
    }
}
.execTableWrapper.collapsed {
    height: 500px;
}

.childWf {
    background-color: #cdcdcd;
}

.clickable:hover {
    cursor: pointer;
}